In [4]:
# PACE Plan

## About the Dataset
The dataset is comprised of property sales 2016-2017 in Melbourne City and its surrounding region, Australia. It includes 21 variables such as the name of the suburb, address of premises, type of property, number of rooms, price, method of selling, seller information, date of the sale, the distance from the city centre, postcode, the number of bedroom and bathroom, car space, the size of the land, building area, council area, latitude and longitude, the name of the region, and property count. There are 18936 rows and 22 columns with one unnamed. Through data discovery, we learn that the there are presumably 18936 individual sales (including duplicates and null values if any) and 21 variables.


## Step 1. Import packages and Load Dataset

In [8]:
# Data Manipulation
import pandas as pd
import numpy as np

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Display all columns in the dataframes
pd.set_option('display.max_columns', None)

# Data Modelling
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from xgboost import plot_importance

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


# Evaluation Metrics and utility functions
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score,ConfusionMatrixDisplay, classification_report

# Save Models
import pickle

## Load & Learn the Data

In [9]:
#Read the dataset
df = pd.read_csv('Data/Property Sales of Melbourne City.csv')

In [10]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  int64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(11), int64(3), object(8)
memory usage: 3.1+ MB

In [30]:
#Displays description of the variables
column_info = {
  'Variable': df.columns,
  'Description': ['The index of each entries', 'Name of the suburb where the property is located', 'Address of the property', 'Number of rooms in the property (excluding bathrooms and other non-living spaces)', 'Type of property (e.g., h = house, t = townhouse, u = unit/apartment)', 'Sale price of the property in Australian Dollars', 'Method of sale (e.g., S = property sold, SP = property sold prior, PI = property passed in, PN = sold prior not disclosed, SN = sold not disclosed, VB = vendor bid, W = withdrawn prior to auction, SA = sold after auction)',' Real estate agency or agent handling the sale', 'Date of the sale','Distance from the property to Melbourne central business district (CBD) in kilometers', 'postcode of the suburb', 'Number of bedrooms in the property (including any non-living spaces that could be used as bedrooms)', 'Number of bathrooms in the property', 'Number of car spaces associated with the property', 'Land size of the property in square meters', 'Total building area of the property in square meters', 'The year the property was built ', 'Name of the local government area where the property is located', 'the position of the property in latitude', 'the position of the property in longitude', ' Name of the region where the property is located (e.g., Eastern Metropolitan, Northern Metropolitan, Southern Metropolitan, Western Metropolitan)', 'Number of properties that exist in the suburb']
}
df_info = pd.DataFrame(column_info)
print(df_info)

         Variable                                        Description
0      Unnamed: 0                 The index position of each entries
1          Suburb   Name of the suburb where the property is located
2         Address                            Address of the property
3           Rooms  Number of rooms in the property (excluding bat...
4            Type  Type of property (e.g., h = house, t = townhou...
5           Price   Sale price of the property in Australian Dollars
6          Method  Method of sale (e.g., S = property sold, SP = ...
7         SellerG      Real estate agency or agent handling the sale
8            Date                                   Date of the sale
9        Distance  Distance from the property to Melbourne centra...
10       Postcode                             postcode of the suburb
11       Bedroom2  Number of bedrooms in the property (including ...
12       Bathroom                Number of bathrooms in the property
13            Car  Number of car spaces associated with the property
14       Landsize         Land size of the property in square meters
15   BuildingArea  Total building area of the property in square ...
16      YearBuilt                   The year the property was built
17    CouncilArea  Name of the local government area where the pr...
18      Lattitude           the position of the property in latitude
19     Longtitude          the position of the property in longitude
20     Regionname   Name of the region where the property is loca...
21  Propertycount      Number of properties that exist in the suburb

# Step 2. Data Exploration (Initial EDA)

In [16]:
# Find the number of rows and columns displayed in tuple (no of rows, no of columns)
df.shape

(18396, 22)

In [9]:
#Display the first ten rows of the data
df.head(10)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,10,Abbotsford,129 Charles St,2,h,941000,S,Jellis,7/05/2016,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,15,Abbotsford,217 Langridge St,3,h,1000000,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
9,16,Abbotsford,18a Mollison St,2,t,745000,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0

In [18]:
df.tail(10)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
18386,23535,Westmeadows,9 Black St,3,h,582000,S,Red,26/08/2017,16.5,3049.0,3.0,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
18387,23536,Westmeadows,81 Hillcrest Dr,4,h,720000,VB,Barry,26/08/2017,16.5,3049.0,4.0,2.0,0.0,NaN,NaN,NaN,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
18388,23537,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
18389,23538,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
18390,23539,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
18391,23540,Williamstown,8/2 Thompson St,2,t,622500,SP,Greg,26/08/2017,6.8,3016.0,2.0,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26/08/2017,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26/08/2017,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [12]:
#Calculate summary statistics for the data
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [22]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [15]:
null_values = pd.DataFrame({'Null Values': df.isna().sum(), 'Proportion Null Values': df.isna().sum()*100/len(df)})
null_values = null_values.sort_values(by='Proportion Null Values', ascending=False)
null_values

               Null Values  Proportion Null Values
BuildingArea         10634               57.806045
YearBuilt             9438               51.304631
CouncilArea           6163               33.501848
Landsize              4793               26.054577
Car                   3576               19.439008
Bathroom              3471               18.868232
Bedroom2              3469               18.857360
Longtitude            3332               18.112633
Lattitude             3332               18.112633
Regionname               1                0.005436
Propertycount            1                0.005436
Postcode                 1                0.005436
Distance                 1                0.005436
Suburb                   0                0.000000
Date                     0                0.000000
SellerG                  0                0.000000
Method                   0                0.000000
Price                    0                0.000000
Type                     0                0.000000
Rooms                    0                0.000000
Address                  0                0.000000
Unnamed: 0               0                0.000000

In [13]:
df.duplicated().sum()

0

# Step 3. Data Wrangling

In [14]:
#Displays all columns names
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Upon further reflection, I reckon that column 'sellerG' which is seller information column would not have any affect whatsoever to our analysis so it would be redundant and unnecessary to our analysis. Additionally, 'propertyCount' column only displays the number of premises exist in each suburb

In [13]:
#Checks for missing values in the dataframe
df.isna().sum()

Unnamed: 0           0
Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
CouncilArea       6163
Lattitude         3332
Longtitude        3332
Regionname           1
Propertycount        1
dtype: int64

In [17]:
#Checks for duplicate rows/entries in the dataframe
df.duplicated().sum()

0